{% extends 'starmart/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>Мы - магазин спортивного питания, созданный для тех, кто заботится о своем здоровье и форме. У нас вы найдете самые качественные и эффективные продукты, которые помогут вам достичь ваших спортивных целей.</p>
<p>Мы заботимся о наших клиентах и предлагаем только те товары, которые прошли все необходимые проверки качества. Мы работаем только с проверенными поставщиками, чтобы гарантировать высокое качество товаров и удовлетворение потребностей наших клиентов.</p>
<p>У нас есть большой выбор продуктов, которые подойдут для любого уровня физической подготовки и нужд - от протеинов и аминокислот для поддержания мышечной массы до энергетических напитков и витаминов для увеличения выносливости и энергии.</p>
Мы уверены, что наши продукты помогут вам достичь лучших результатов и сохранить здоровое тело и дух. Посетите наш магазин, и мы гарантируем вам положительный опыт покупки и высокое качество</p>
<hr>
{% endblock %}