{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link type="text/css" href="{% static 'starmart/css/styles.css' %}" rel="stylesheet"/>
</head>
<body>
{% block mainmenu %}
<header class="header">
  <a href="" class="logo">MAGaz</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    {% for m in menu %}
        <li><a href="#">{{m}} </a></li>
    {% endfor %}
  </ul>
</header>

{% endblock %}
<hr>
{% block content %}

{% endblock %}

</body>
</html>