{% extends 'starmart/base.html' %}

{% block content %}


    {%if goods|length == 0 %}
    <h1>Скоро будут!</h1>
    {%endif%}
    {% for g in goods%}
        <div class="card">
               <figure class="card__poster">
                <img class="card-poster__image" src='{{g.photo.url}}' alt="poster">
                         </figure>
              <h1>{{g.title}}</h1>
          <p class="price">{{g.price}} руб</p>
          <div  class="card-databox__description">{{g.content|linebreaks|truncatewords:20}}</div >
          <p><a href="{{g.get_absolute_url}}">Посмотреть</a> </p>
          <a href="{% url 'basket_add' g.id %}"><button>Купить</button></a>
        </div>

    {% endfor %}


{% endblock %}




</div>