{% extends 'starmart/base.html' %}

{% block content %}

<div class="card_container">
    {%if goods|length == 0 %}
    <h1>Скоро будут!</h1>
    {%endif%}
    {% for g in goods%}
        <div class="card">
               <figure class="card__poster">
                <img class="card-poster__image" src='{{g.photo.url}}' alt="poster">
                         </figure>
              <h1>{{g.title}}</h1>
          <p class="price">{{g.price}} руб</p>
          <div  class="card-databox__description">{{g.content|linebreaks|truncatewords:20}}</div >
          <p><a href="{{g.get_absolute_url}}">Посмотреть</a> </p>
          <p><button>Купить</button></p>
        </div>

    {% endfor %}
</div>
<div class="paginator">
    <ul>
        {% for p in page_obj.paginator.page_range %}
        <li>
            <p><a href="?page={{ p }}" class="nav__dropdown-link" >{{p}}</a></p>
        </li>
        {%endfor%}
    </ul>
</div>
{% endblock %}


<div >
    <ul>
        {% for p in page_obj.paginator.page_range %}
        <li>
            <a href="?page={{ p }}">{{p}}</a>
<!--            <li class="active"><a href="#"></a></li>-->
        </li>
        {%endfor%}
    </ul>
</div>


</div>