* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.header {
  background-color: rgba(243, 240, 240, 0.81);
  /* padding: 1.5rem; */
}

.header__logo {
  font-size: 1.5rem;
  color: #000;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.068);
  transition: background-color 0.3s ease;
}

.nav__item:hover {
  background-color: rgba(75, 67, 67, 0.068);
  transition: background-color 0.3s ease;
}

.nav__item:first-child:hover .nav__dropdown {
  display: block;
}

.nav__item:first-child {
  position: relative;
  border-left: none;
}

.nav__link {
  line-height: 145%;
  color: #000;
}

.nav__dropdown {
  position: absolute;
  z-index: 5;
  min-width: 80px;
  text-align: center;
  bottom: -8rem;
  left: 0.25rem;
  background-color: #333;
  padding: 0.3rem;
  display: none;
  animation: opacity 0.5s ease;
  transition: transform 0.3s ease;
}

@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.nav__dropdown-item {
  margin-bottom: 0.2rem;
}
.nav__dropdown-link {
  color: rgba(255, 255, 255, 0.7);
}

.nav__dropdown-link:hover {
  text-decoration: underline;
}

.nav__dropdown-item:last-child {
  margin-bottom: 0;
}

/* карточка товара */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-height: 620px;
  max-height: 620px;
  margin: auto;
  text-align: center;
  font-family: arial;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  justify-content: space-between;
  padding: 20px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card-poster__image {
  max-width:230px;
  max-height:300px;
  width: 230px;
  height: 300px;
  object-fit: cover;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-top: 30px;
  top: ;
}

.card button:hover {
  opacity: 0.7;
}


.card_container{
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(310px, 310px));
  position: relative;
  justify-content: space-between;
  max-width: 1200px;
  min-height: 720px;
  padding: 20px;
  align-content: stretch;
}


